<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Inedo.SDK" version="1.7.0-pre0025" targetFramework="net452" />
  <package id="LibGit2Sharp" version="0.24.0" targetFramework="net452" />
  <package id="LibGit2Sharp.NativeBinaries" version="1.0.185" targetFramework="net452" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net452" />
</packages>