<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Inedo.Agents" publicKeyToken="9de986a2f8db80fc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-40.0.0.1" newVersion="40.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Inedo.Agents.Client" publicKeyToken="9de986a2f8db80fc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1000.0.0.0" newVersion="1000.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Inedo.ExecutionEngine" publicKeyToken="68703f0e52007e75" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-63.2.0.0" newVersion="63.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="InedoLib" publicKeyToken="112cfb71329714a6" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1000.0.0.0" newVersion="1000.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>